
canvas{
	border: 1px solid black;		
	background: white;			
	}	
body, html{
	font-family: Arial;
	margin: 0;
	height: 100%;
	}

.header{
	height:10%;
	padding: 5px; 
	width: 100%;
	color: rgb(0, 0, 0);
	font-family: sans-serif, Arial;
	font-size: 20px;
	text-align: right;
	background:  rgb(228, 154, 16);
}

.header h1{
	font-size: 40px;	
}

.menu{
	float: left;
	border: 1px solid;
	width: 100%; 
	background-color: #fa861af1;
	height: 15%;
}


.menu button {	
  outline: none;
  display: block;
  background-color: inherit;
  color: white;
  transition: 0.5s;
  float: left;
  border: none;
  cursor: pointer;
  padding: 14px 10px;
  font-size: 30px;
  height: 100%;
  width: 25%;
}

.menu button:hover{
	background-color: rgb(255, 166, 0);
	color: rgb(0, 0, 0);
}
.menu button.active{
	background-color: #fa3c1a3a;
}

.optioncontent{
	float: left;
	padding: 0px 12px;
	border: 1px solid #d82a2a;
	width: 100%;
  border-left: none;
  height: 90%;
}

table{
	float: left;
	width: 75%;
	text-align: center;
	border-collapse: collapse;
	border: 2px solid brown;
	padding: 2px;
}
td, th{
	border: 1px solid #e93d09;
	padding: 8px;
}
th{
	background-color: #e9c10b;
}

.optioncontent button{
	text-align: center;
	color: rgb(99, 188, 35);
	background-color:white;
}

.canvasposition {
	position:absolute;
	float:left;
}